name: Linting

on:
  push:
    paths:
      - '**/*.py'
      - '.github/workflows/*.yml'
  pull_request:
    paths:
      - '**/*.py'
      - '.github/workflows/*.yml'

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: Run ruff linter
        run: ruff check src/ tests/
